<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>fnotes login</title>
</head>
<body>

<h1>User Login</h1>

<form action="/login" method="post">
    <dl>
        <dt>Email:</dt><dd><input name="email" type="text"> </dd>
        <dt>password:</dt><dd><input name="password" type="password"> </dd>
        <dd><label><input type="checkbox" name="remmber" /> remmber me</label></dd>
        <dd><input type="submit" value="Login" /> </dd>
    </dl>
</form>

</body>
</html>
